<% @flashcards.each do |flashcard| %>
<div class="flashcard-box">


	<h1 style=><%= link_to flashcard.chinese, user_flashcard_path(flashcard) %><br><%= flashcard.pinyin %><br><%= flashcard.defin %></h1>
	<%= link_to "Delete", user_flashcard_path(flashcard), method: :delete %><hr>

</div>
<% end %>

