<% @flashcards.each do |flashcard| %>
<div class="flashcard-box">

	<h3><%= link_to flashcard.chinese, user_flashcard_path(flashcard), class: 'link' %><br><%= flashcard.pinyin %><br><%= flashcard.defin %></h3>
	<%= link_to "Delete", user_flashcard_path(flashcard), method: :delete, class: "delete" %><hr>
</div>
<% end %>


	

