<body>
	<h3>
		<div class='content' id='chinese'><%= @flashcard.chinese %></div>
		<div class='content' id='pinyin'><%= @flashcard.pinyin %></div>
		<div class='content' id='defin'><%= @flashcard.defin %></div>
	</h3>

	<span id='chicken'>
	<div class='action' data-content='#chinese'>
		Show Chinese
	</div>
	<br>
	<div class='action' data-content='#pinyin'>
		Show Pinyin
	</div>
	<br>
	<div class='action' data-content='#defin'>
		Show Definition
	</div>
	</span>
</body>
